<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Attendee Tracker</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/data"><i class="fa fa-table fa-fw"></i> Data</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= org[0].name %></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= org[0].events.length %></div>
                                    <div>Total Events</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= org[0].members.length %></div>
                                    <div>Total Attendees</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0</div>
                                    <div>something</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0</div>
                                    <div>Something</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                    <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i> Check In to event
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                            <form method="POST" action="/api/event/checkin">
                                                <label>Choose the event</label>

                                                <% for (const event of org[0].events) { %>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="eventChoice" id="optionsRadios1" value="<%= event.name %>" checked><%= event.name %>
                                                        </label>
                                                    </div>
                                                  <% } %>
                                                <input class="form-control" name="name" placeholder="Name">
                                                <input class="form-control" name="age" placeholder="Age">
                                                <input class="form-control" name="email" placeholder="Email">
                                                <input class="form-control" name="gender" placeholder="Gender">
                                                <input class="form-control" name="birthday" placeholder="Birthday">
                                                <button type="submit" class="btn btn-success btn-block">Check In</button>
                                            </form>
            
                                </div>
                                <!-- /.panel-body -->
                            </div>
        
                        </div>
                
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Org Events
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                    <% for (const event of org[0].events) { %>
                                        <a href="#" class="list-group-item">
                                                <%= event.name %>
                                                <span class="pull-right text-muted small"><em><%= event.start %></em>
                                                </span>
                                            </a>
                                      <% } %>
                            </div>
                            <!-- /.list-group -->
                            <div class="">
                                    <form method="POST" action="/api/event/delete">
                                        <input class="form-control" name="eventName" placeholder="Event name">
                                        <button type="submit" class="btn btn-danger btn-block">Remove Event</button>
                                    </form>
                            </div>
    
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
                <!-- /.col-lg-8 -->

                <div class="col-lg-6">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                        <i class="fa fa-bell fa-fw"></i> New Event
                                    </div>
                                <div class="panel-body">
                                        <form method="POST" action="/api/event/create">
                                            <input class="form-control" name="eventName" style="padding: 10px" placeholder="Event Name">
                                            <input class="form-control" name="eventDescription" style="height: 75px; padding: 10px" placeholder="Event Description">
                                            <input class="form-control" name="eventLocation" style="padding: 10px" placeholder="Event Location">
                                            <button type="submit" class="btn btn-success btn-block">Submit Event</button>
                                        </form>
                
                                    </div>
                        </div>
                        <!-- 
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                        <i class="fa fa-bell fa-fw"></i> New Member
                                    </div>
                                <div class="panel-body">
                                        <form method="POST" action="/api/member/create">
                                            <input class="form-control" name="eventName" style="padding: 10px" placeholder="Event Name">
                                            <input class="form-control" name="eventDescription" style="height: 75px; padding: 10px" placeholder="Event Description">
                                            <input class="form-control" name="eventLocation" style="padding: 10px" placeholder="Event Location">
                                            <button type="submit" class="btn btn-success btn-block">Submit Member</button>
                                        </form>
                                </div>
                        </div> -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
